ul{
    list-style-type: none;
    width: 160px;
    overflow: hidden;
}

ul > li{
    display: inline-block;
    float: left;
    width: 30px;
    height:30px;
    border: 1px solid green;
    padding:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul > li.selected{
    background: #333;
    color:#fff;
}